<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.blooth" >



    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
        android:name="com.mobile.blooth.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.mobile.blooth.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".DispatchActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".EventMap"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".FacebookLogin"
            android:label="@string/app_name" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activity.EventChooserActivity"
            android:label="Choose an Event!" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activity.EventScheduleActivity"
            android:label="@string/app_name" >
        </activity>
        <activity

            android:name=".event_Detail"
            android:label="@string/app_name"
       >
        </activity>
        <activity
            android:name=".MyOffers"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".OfferStore"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".offer_detail"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".offer_redeem"
            android:label="@string/app_name"
           >
        </activity>
        <activity

            android:name=".storeoffer_detail"
            android:label="@string/app_name"
         >
        </activity>
        <activity
            android:name=".SurveyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".webSurveyDetail"
            android:label="@string/app_name"
          >
        </activity>
        <activity

            android:name=".my_profile"
            android:label="@string/app_name"

            >
        </activity>
        <activity
            android:name=".editProfile"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PhotoContestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity

            android:name=".photocontest_detail"
            android:label="@string/app_name"
             >
        </activity>
        <activity
            android:name=".ActivityFeed"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activityFeed_detail"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".InteractionActivity"
            android:label="@string/app_name" >
        </activity>

        <service android:name=".BloothLocationServices" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>


        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Parse Push
                -->
                <category android:name="com.mobile.blooth" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.mobile.blooth.PushReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
